{% load staticfiles %}
{% load bootstrap3 %}

<html>

  <head>
    <meta http-enquiv="Content-language" content="cs">
    <meta name="description" content="Beercounter">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'beercounter/css/style.css' %}">

    <title> Beercounter </title>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'beercounter:index' %}"> Beercounter </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li> <a href="{% url 'beercounter:updateuser' user.id %}"> Přihlášen jako: {{ user.get_username }} </a> </li>
            <li> <a href="{% url 'beercounter:logout' %}"> Odhlásit </a> </li>
          {% else %}
            <li> <a href="{% url 'beercounter:login' %}"> Přihlásit se </a> </li>
            <li> <a href="{% url 'beercounter:signup' %}"> Registrovat se </a> </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
