{% extends "beercounter/base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1> Účet jménem: {{ bill.name }} </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> Název: </th>
      <th> Počet: </th>
      <th> Cena: </th>
      <th> Suma: </th>
      <th> Přidat: </th>
    </tr>
  </thead>

  {% for order in orders %}
  <tr>
    <td> {{order.item.name}} </td>
    <td> {{order.count}}</td>
    <td> {{order.item.price}} </td>
    <td> {{order.total_cost}} </td>
    <td>
      {% if user.is_authenticated %}
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="bill" value={{bill.id}}>
        <input type="hidden" name="order" value="{{order.id}}">
        <div class="input-group">

          <span class="input-group-btn">
            <div style="display:none;"><input type="submit" formaction="{% url 'beercounter:increment' %}" name="incrementCount"></div>
            <button type="submit" formaction="{% url 'beercounter:decrement' %}" class="btn btn-default" name="decrementCount"> - </button>
          </span>
          <input type="number" min="1" value="1" name="count" class="form-control">
          <span class="input-group-btn">
            <button type="submit" formaction="{% url 'beercounter:increment' %}"
              name="incrementCount" class="btn btn-default"> + </button>
          </span>

        </div>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td><strong> Celkový součet: </strong></td>
    <td></td> <td></td>
    <td> {{bill.spending}} </td>
    <td>
      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'beercounter:cleanOrders' %}" onsubmit="return confirm('Opravdu?')">
        {% csrf_token %}
        <input type="hidden" name="bill" value={{bill.id}}>
        <button type="submit" name="cleanOrders" class="btn btn-danger">Vyčistit</button>
      </form>
      {% endif %}
   </td>
  </tr>
</table>

<h2> {{ bill.pub.name }} </h2>
<h3> Menu: </h3>
<div class="container-fluid">
  {% if drinks %}
  <h4> <strong> Nápoje </strong> </h4>
  {% for item in drinks %}
  <div class="list-group row">
    <li class="list-group-item col-sm-3"> {{item.name}} </li>
    <li class="list-group-item col-sm-3"> {{item.price}},- </li>
    <li class="list-group-item col-sm-3">
      <form method="POST" action="{% url 'beercounter:createorder' %}" >
        {% csrf_token %}
        <input type="hidden" name="item" value={{item.id}}>
        <input type="hidden" name="bill" value={{bill.id}}>
        <input type="number" name="count" value=1 min=1>
        <button type="submit" name="addOrder" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
      </form>
    </li>
  </div>
  {% endfor %}
  {% endif %}
  {% if foods %}
  <h4> <strong>Jídlo </strong> </h4>
  {% for item in foods %}
  <div class="list-group row">
    <li class="list-group-item col-sm-3"> {{item.name}} </li>
    <li class="list-group-item col-sm-3"> {{item.price}},-</li>
    <li class="list-group-item col-sm-3">
      <form method="POST" action="{% url 'beercounter:createorder' %}" >
        {% csrf_token %}
        <input type="hidden" name="item" value={{item.id}}>
        <input type="hidden" name="bill" value={{bill.id}}>
        <input type="number" name="count" value=1 min=1>
        <button type="submit" name="addOrder" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
      </form>
    </li>
  </div>
  {% endfor %}
  {% endif %}
  {% if others %}
  <h4> <strong>Ostatní </strong></h4>
  {% for item in others %}
  <div class="list-group row">
    <li class="list-group-item col-sm-3"> {{item.name}}</li>
    <li class="list-group-item col-sm-3"> {{item.price}},- </li>
    <li class="list-group-item col-sm-3">
      <form method="POST" action="{% url 'beercounter:createorder' %}" >
        {% csrf_token %}
        <input type="hidden" name="item" value={{item.id}}>
        <input type="hidden" name="bill" value={{bill.id}}>
        <input type="number" name="count" value=1 min=1>
        <button type="submit" name="addOrder" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
      </form>
    </li>
  </div>
  {% endfor %}
  {% endif %}
<a href="{{request.META.HTTP_REFERER}}" class="btn btn-default"> Zpět </a>
{% endblock%}
