{% extends "beercounter/base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1> Účet jménem: {{ bill.name }} </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> Název: </th>
      <th> Počet: </th>
      <th> Cena: </th>
      <th> Suma: </th>
      <th> Přidat: </th>
    </tr>
  </thead>

  {% for order in bill.orders.all %}
  <tr>
    <td> {{order.item.name}} </td>
    <td> {{order.count}}</td>
    <td> {{order.item.price}} </td>
    <td> {{order.total_cost}} </td>
    <td>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="bill" value={{bill.id}}>
        <input type="hidden" name="order" value="{{order.id}}">
        <div class="input-group">

          <span class="input-group-btn">
            <div style="display:none;"><input type="submit" formaction="{% url 'beercounter:increment' %}" name="incrementCount"></div>
            <button type="submit" formaction="{% url 'beercounter:decrement' %}" class="btn btn-default" name="decrementCount"> - </button>
          </span>
          <input type="number" min="1" value="1" name="count" class="form-control">
          <span class="input-group-btn">
            <button type="submit" formaction="{% url 'beercounter:increment' %}"
              name="incrementCount" class="btn btn-default"> + </button>
          </span>

        </div>
      </form>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td><strong> Celkový součet: </strong></td>
    <td></td> <td></td>
    <td> {{bill.spending}} </td>
    <td>
      <form method="POST" action="{% url 'beercounter:cleanOrders' %}" onsubmit="return confirm('Opravdu?')">
        {% csrf_token %}
        <input type="hidden" name="bill" value={{bill.id}}>
        <button type="submit" name="cleanOrders" class="btn btn-danger">Vyčistit</button>
      </form>
   </td>
  </tr>
</table>

<h2> V Hospodě:{{ bill.pub.name }} </h2>

<form action="" method="POST" >
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <input value="Přidat" name="addOrder" type="submit" class="btn btn-primary">
  <a class="btn btn-default" role="button" href="{% url 'beercounter:pub' bill.pub_id %}" > Zpět </a>
  {% endbuttons %}
</form>

{% endblock%}
