{% extends "beercounter/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div>
  <div class="panel panel-default">
    <div class="panel-heading"> <h1>Dostupné hospody</h1> </div>
      <div class="list-group">
        {% for pub in pub_list %}
         <a href="{% url 'beercounter:pub' pub.id %}" class="list-group-item list-group-item-action">
           {% if pub.owner == user %}<span class="glyphicon glyphicon-user"></span> {% endif %}
           {{ pub.name }}
         </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <br/>
  {% if user.is_authenticated %}
  <div class="panel-heading"> <h1> Nová hospoda: </h1> </div>
    <form method="POST">
      {% csrf_token %}
      <div class="input-group">
      {% bootstrap_form form layout="inline" %}
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success"> Přidat </button>
      </span>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
