{% extends "beercounter/base.html" %}

{% block content %}
  <h1> {{ pub.name }}
  <a href="{% url 'beercounter:deletepub' pub.id %}" class="btn btn-danger" role="button"> Odebrat
    hospodu </a> </h1>

  <h2> Lístky: </h2>

  <a href="{% url 'beercounter:addbill' pub.id %}" class="btn btn-success" role="button"> Přidat
    účet </a>
  <div class="list-group">
    {% for bill in pub.bills.all %}
      <a href="{% url 'beercounter:bill' bill.id %}" class="list-group-item list-group-item-action"> {{ bill.name }} </a>
      <form method="DELETE" action="{% url 'beercounter:deletebill' bill.id %}">
        <button type="submit" class="btn btn-danger">
         <span class="glyphicon glyphicon glyphicon-remove"></span>
        </button>
      </form>
    {% endfor %}
  </div>

  <h2> Menu: </h2>

  <a href="{% url 'beercounter:additem' pub.id %}" class="btn btn-success" role="button"> Přidat položku </a>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> Název: </th>
        <th> Cena: </th>
        <th> Kategorie: </th>
        <th> Odebrat: </th>
      </tr>
    </thead>
    {% for item in pub.items.all %}
    <tr>
      <th> {{ item.name }} </th>
      <th> {{ item.price }} </th>
      <th> {{ item.get_category_display }} </th>
      <th>
        <form method="DELETE" action="{% url 'beercounter:deleteitem' item.id %}">
          <button type="submit" class="btn btn-danger">
           <span class="glyphicon glyphicon glyphicon-remove"></span>
          </button>
        </form>
      </th>
    </tr>
    {% endfor %}
  </table>


  <a href="{% url 'beercounter:index' %}" class="btn btn-default" role="button"> Zpět </a>
{% endblock %}
